{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}
{% block body_block %}
    
    <div class="row marketing">
        <div class="col-lg-12">
        	<div class="well">
	            <h1>About Us</h1>
	            <p>Coding with cats is the premier teaching guide on how to not only live around your cats but to get them to help you get work done as well.</p>
	            <p>You can contact us at <a href="mailto:codingwithcats@example.com">CodingWithCats@example.com</a></p>
            </div>
        </div>

    </div>
    
{% endblock %}